<%= error_messages_for :exchange %>
<% form_for @exchange do |f| %>
  <p>
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
