%h1 Editing Exchange

= error_messages_for :exchange

%fieldset
  - smart_form_for(current_object) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p= f.submit "Update"

= link_to 'Show', object_path
|
= link_to 'Back', objects_path
