%h1
  Plot Parameters for
  = current_object.symbol

%fieldset
  - smart_form_for(current_object, :readonly => true) do |f|
    = render :partial => "plot_form", :locals => {:f => f}

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy daily_close?', :method => :delete
|
= link_to 'Back', objects_path
