= f.table_select :portfolio_id
= f.table_select :ticker_id
= f.check_box :open
= f.datetime_select :entry_date
= f.datetime_select :exit_date
= f.text_field :entry_price
= f.text_field :exit_price
= f.text_field :num_shares
= f.table_select :contract_type_id
= f.text_field :side
= f.text_field :stop_loss
