= f.text_field :volume
= f.text_field :ask
= f.text_field :bid
= f.text_field :day_range_low
= f.text_field :day_range_high
= f.text_field :change_percent
= f.date_select :last_trade_date
= f.text_field :tickertrend
= f.text_field :change_points
= f.text_field :open
= f.text_field :previous_close
= f.text_field :last_trade
= f.text_field :avg_volumn
= f.text_field :day_low
= f.datetime_select :last_trade_time
= f.text_field :day_high
= f.table_select :ticker_id
= f.datetime_select :created_at
= f.datetime_select :updated_at
