= f.text_field :name
= f.text_field :moving_ave_50_days_change_percent_from
= f.text_field :weeks52_change_from_low
= f.text_field :weeks52_change_percent_from_low
= f.text_field :weeks52_range_low
= f.text_field :weeks52_range_high
= f.text_field :peg_ratio
= f.text_field :dividend_yield
= f.text_field :price_per_eps_estimate_current_year
= f.text_field :oneyear_target_price
= f.text_field :dividend_per_share
= f.text_field :short_ratio
= f.text_field :price_persales
= f.text_field :price_per_eps_estimate_next_year
= f.text_field :eps
= f.text_field :moving_ave_50_days
= f.text_field :price_perbook
= f.text_field :ex_dividend_date
= f.text_field :moving_ave_200_days
= f.text_field :book_value
= f.text_field :eps_estimate_current_year
= f.text_field :market_cap
= f.text_field :pe_ratio
= f.text_field :moving_ave_200_days_change_from
= f.text_field :eps_estimate_next_year
= f.text_field :moving_ave_200_days_change_percent_from
= f.text_field :eps_estimate_next_quarter
= f.text_field :dividend_paydate
= f.text_field :weeks52_change_from_high
= f.text_field :moving_ave_50_days_change_from
= f.text_field :ebitda
= f.text_field :weeks52_change_percent_from_high
