%tr[exit_list]{:class => cycle('list-line-even', 'list-line-odd')+(exit_list.closed_crossed_at ? ' red' : '')}
  %td.ticker_id
    = lkup exit_list.ticker, :symbol
  %td.center
    = h exit_list.days_held
  %td.center
    = h exit_list.entry_date
  %td.center
    = h exit_list.entry_price
  %td.center{:class =>  price_color(exit_list) }
    = h exit_list.price_f
  %td.center
    = h exit_list.rsi_target_price_f
  %td.center
    = h exit_list.rvi_target_price_f
  %td.center
    = h exit_list.roi_f
  %td.center
    = h exit_list.volume
  %td.center
    = h exit_list.current_rsi_f
  %td.center
    = h exit_list.current_rvi_f
  %td.center
    = h exit_list.indicator_crossing
  %td.center
    = h exit_list.close_crossing
  %td.center
    = h exit_list.last_snaptime.nil? ? '-' :  (minutes = ((Time.now - exit_list.last_snaptime) / 60).round) > 9 ? '>' : minutes
  %td.close
    = link_to_unless exit_list.tda_position.nil?, 'Close', exit_list.tda_position.nil? ? ticker_tda_positions_path(exit_list.ticker) : close_tda_position_path(exit_list.tda_position)
  %td.destroy
    = link_to 'Destroy', object_path(exit_list), :confirm => 'Really destroy Watch List Item?', :method => :delete
