= f.table_select :ticker_id, :disabled => true
= f.table_select :tda_position_id
= f.text_field :target_price
= f.text_field :target_ival
= f.text_field :curr_price
= f.text_field :curr_ival
= f.text_field :predicted_price
= f.text_field :predicted_ival
= f.text_field :crossed_at
= f.text_field :last_snaptime
