<script>
/
  function refresh_page() {
  window.location = location.href;
  }
  setInterval("refresh_page()", 60*1000)
</script>


= content_for :side_content do
  %legend
    Sort Order
    %table
      %tr
        %td
          Price
          = radio_button_tag 'sort_order', 'Price', false, :onclick => sort_by_price
      %tr
        %td
          Time
          = radio_button_tag 'sort_order', 'Time', true, :onclick => sort_by_time
  %br
  = link_to 'Geerate CSV', :action => 'generate_csv'

%h1 Entry Watch List
%table
  %tr.heading
    %th Ticker
    %th Percent
    %th Price
    %th Target Price
    %th Volume
    %th Shares
    %th RSI
    %th Threshold
    %th Listed On
    %th Crossed At

  = render :partial => 'watch_list', :collection => current_objects
