= f.table_select :ticker_id
= f.date_select :date
= f.text_field :open
= f.text_field :close
= f.text_field :high
= f.text_field :low
= f.text_field :adj_close
= f.text_field :volume
= f.text_field :week
= f.text_field :month
= f.text_field :sample_count
= f.datetime_select :created_at
= f.datetime_select :updated_at
