= f.datetime_select :entry_date
= f.datetime_select :exit_date
= f.text_field :quantity
= f.text_field :entry_price
= f.text_field :exit_price
= f.text_field :nreturn
= f.text_field :roi
= f.text_field :days_held
= f.table_select :eorder_id
= f.table_select :xorder_id
= f.table_select :ticker_id
= f.table_select :position_id
