= f.text_field :txn
= f.text_field :type
= f.text_field :expiration
= f.text_field :quantity
= f.datetime_select :placed_at
= f.datetime_select :filled_at
= f.text_field :activation_price
= f.text_field :order_price
= f.text_field :fill_price
= f.table_select :ticker_id
= f.table_select :position_id
