%tr[ticker]{:class => cycle('list-line-even', 'list-line-odd')}
  %td.symbol
    = h ticker.symbol
  %td.exchange_id
    = lkup ticker.exchange, 'symbol'
  %td.listing
    = lkup ticker.current_listing, 'name'
  %td.show
    = link_to 'Show', object_path(ticker)
  %td.edit
    = link_to 'Edit', edit_object_path(ticker)
  %td.destroy
    = link_to 'Destroy', object_path(ticker), :confirm => 'Really destroy ticker?', :method => :delete
