<% title "Tickers" %>

<table>
  <tr>
    <th>Symbol</th>
    <th>Exchange</th>
  </tr>
  <% for ticker in @tickers %>
    <tr>
      <td><%=h ticker.symbol %></td>
      <td><%=h ticker.exchange_id %></td>
      <td><%= link_to "Show", ticker %></td>
      <td><%= link_to "Edit", edit_ticker_path(ticker) %></td>
      <td><%= link_to "Destroy", ticker, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Ticker", new_ticker_path %></p>
