%h1 Listing tickers

- form_tag(find_tickers_path, :method => :get) do
  = text_field_with_auto_complete :ticker, :symbol, :size => 4, :onkeypress="return submitViaEnter(event)"
  = submit_tag 'Find'

%table
  %tr.heading
    %th Symbol
    %th Exchange
    %th Name
    %th Sector
    %th Industry
    %th Flags
    %th Retries

  = render :partial => 'ticker', :collection => current_objects

= link_to 'New ticker', new_object_path

%div{:class => "digg_pagination", :style => "float:right"}
  %div{:class => "page_info"}
    = page_entries_info current_objects
  = will_paginate current_objects, :container => false

