<% title "Ticker" %>

<p>
  <strong>Symbol:</strong>
  <%=h @ticker.symbol %>
</p>
<p>
  <strong>Exchange:</strong>
  <%=h @ticker.exchange_id %>
</p>

<p>
  <%= link_to "Edit", edit_ticker_path(@ticker) %> |
  <%= link_to "Destroy", @ticker, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tickers_path %>
</p>
