= f.table_select :ticker_id
= f.datetime_select :snaptime
= f.text_field :seq
= f.text_field :open
= f.text_field :high
= f.text_field :low
= f.text_field :close
= f.text_field :volume
= f.text_field :accum_volume
= f.text_field :secmid
