= f.table_select :historical_attribute_id
= f.table_select :ticker_id
= f.date_select :start_date
= f.date_select :end_date
= f.text_field :sample_count
= f.text_field :mean
= f.text_field :min
= f.text_field :max
= f.text_field :stddev
= f.text_field :absdev
= f.text_field :skew
= f.text_field :kurtosis
= f.text_field :slope
= f.text_field :yinter
= f.text_field :cov00
= f.text_field :cov01
= f.text_field :cov11
= f.text_field :chisq
= f.datetime_select :created_at
= f.datetime_select :updated_at
