%tr[real_time_quote]{:class => cycle('list-line-even', 'list-line-odd')}
  %td.center
    = lkup real_time_quote.ticker, :symbol
  %td.right
    = h real_time_quote.bid
  %td.right
    = h real_time_quote.ask
  %td.l.center
    = h real_time_quote.last_trade
  %td.center
    = h real_time_quote.change
  %td.center
    = h real_time_quote.change_points
  %td.center
    = h real_time_quote.last_trade_time
  %td.created_at
    = h real_time_quote.created_at
  %td.show
    = link_to 'Show', object_path(real_time_quote)
