= f.text_field :name
= f.text_field :open_description
= f.text_field :close_description
= f.text_area :open_params_yaml, :cols => 30, :rows => 7
= f.text_area :close_params_yaml, :cols => 30, :rows => 7
