%tr[intra_snapshot]{:class => cycle('list-line-even', 'list-line-odd')}
  %td.ticker_id
    = lkup intra_snapshot.ticker
  %td.interval
    = h intra_snapshot.interval
  %td.start_time
    = h intra_snapshot.start_time
  %td.open
    = h intra_snapshot.open
  %td.close
    = h intra_snapshot.close
  %td.high
    = h intra_snapshot.high
  %td.low
    = h intra_snapshot.low
  %td.volume
    = h intra_snapshot.volume
  %td.show
    = link_to 'Show', object_path(intra_snapshot)
  %td.edit
    = link_to 'Edit', edit_object_path(intra_snapshot)
  %td.destroy
    = link_to 'Destroy', object_path(intra_snapshot), :confirm => 'Really destroy intra_snapshot?', :method => :delete
