= f.table_select :ticker_id, :value => :symbol, :label => 'Symbol', :disabled => true
= f.table_select :ticker_id, :label => 'Name', :disabled => true
= f.date_select :entry_date
= f.datetime_select :openned_at
= f.text_field :entry_price, :size => 6
= f.text_field :eorderid, :label => 'Entry Order Id', :size => 10
= f.text_field :num_shares, :size => 6
= f.check_box :stop_loss
