= f.hidden_field :ticker_id
= f.hidden_field :watch_list_id

= f.text_field :symbol, :disabled => true, :size => 5
= f.text_field :name, :disabled => true
= f.date_select :entry_date
= f.datetime_select :openned_at
= f.text_field :entry_price, :size => 6
= f.text_field :eorderid, :label => 'Entry Order Id', :size => 10
= f.text_field :num_shares, :size => 6
= f.check_box :com, :label => 'MOC'
