%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }/
    %title
      = controller.controller_name.titleize + ': ' + controller.action_name
    = stylesheet_link_tag 'scaffold', 'application', 'admin', 'pagination', 'live_validation'
    = javascript_include_tag :defaults, 'live_validation.js', 'application.js'
  %body
    #banner
      = image_tag('rails.png')
      = @page_title || 'Active Trader to Riches beyond Imagination'
    #container
      #left.column{ :style => "display:inline;" }
        = link_to 'Tickers', tickers_path
        %br/
        = link_to 'Listing Categories', listing_categories_path
        %br/
        = link_to 'Daily Closes', daily_closes_path
        %br/
        = link_to 'Exchanges', exchanges_path
        %br/
        = link_to 'Historical Attributes', historical_attributes_path
        %br/
        = link_to 'Derived Attributes', derived_value_types_path
        %br/
        = link_to 'Live Quotes', live_quotes_path
        %br/
        = link_to 'Derived Stat Values', stat_values_path
        %br/
        = link_to 'Plot Type', plot_types_path
        %br/
        = link_to 'Plot Attributes', plot_attributes_path
        %br/
      #side_content
        = yield :side_content
      #main
        - if flash[:notice]
          #notice
            = flash[:notice]
        - if flash[:warning]
          #warning
            = flash[:warning]
        - if flash[:error]
          #error
            = flash[:error]

        = yield :layout
